@import url(variables.css);

body{
  font-family: sans-serif;
}

.container{
    margin: 0 auto;
    width: 1000px;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-areas: "roles formu"
                        "roles formu";
}

/*      ROLES       */
.roles__title{
    font-size: var(--title-sz);
    margin: 0;
    color: var(--yellow);
}

.roles{
    grid-area: roles;
    background-color: var(--yellow3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.roles__btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    padding: 15px 25px;
    background-color: var(--green2);
    border: 0;
}

.btn__img{
    width: 45px;
}

/*        FORM REGISTRO        */
.container__log{
  grid-area: formu;
  display: grid;
  grid-template-rows: 190px 1fr;
  grid-template-areas: " icono "
                        " form ";
}

.container__figure{
    grid-area: icono;
    background-color: var(--green1);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__form{
    grid-area: form;
    background-color: var(--green2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    padding: 20px 0;
}

.form__title{
    font-size: var(--title-sz);
    color: var(--green3);
}

.form__input{
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    border: 0;
    background-color: var(--green3);
    height: var(--btn-h);
    width: 270px;
}

.form__btn{
    padding: 13px 30px;
    border-radius: 10px;
    background-color: var(--green);
    color: var(--green3);
}

.form__link{
    text-decoration: none;
    font-weight: 700;
    color: var(--green);
    margin-left: 20px;
}

.error{
  background-color: red;
}

@media screen and (max-width: 1020px) {
  .container{
    width: 95vw;
    grid-template-areas: "roles roles"
                        "formu formu";
  }

  .container__figure{
    display: none;
  }

  .container__log{
    grid-template-rows: 1fr;
  }

  .roles{
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
  }

  .roles__title{
    margin: 0 100%;
  }

  .roles__img{
    display: none;
  }

  .form__input{
    width: 70vw;
  }

  .form__reg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 10px;
  }
  
}