@import url(../variables.css);
@import url(../componentes/header.css);
@import url(../componentes/coment_form.css);


body{
  font-family: sans-serif;
  margin: 0;
  background-color: var(--green3);
}

/*    CONTAINER   */
.container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--box-width);
  margin-top: 100px;
  gap: 100px;
}

/*    LIBRO   */
.libro{
  display: flex;
  color: var(--yellow);
  position: relative;
}

.libro__figure{
  margin: 0;
  width: auto;
}

.libro__img{
  width: 350px;
  height: 100%;
  object-fit: fill;
  border-radius: var(--radius) 0 0 var(--radius) ;
}

.libro__content{
  padding: 30px;
  background-color: var(--yellow3);
  border-radius: 0 var(--radius) var(--radius) 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.libro__title{
  text-align: center;
  font-size: var(--title2-sz);
  margin: 0;
}

.libro__autor{
  text-align: center;
}

.libro ol{
  margin: 0;
  font-size: var(--text-sz);
}

.libro__eti{
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  font-size: var(--text-sz);
  flex-wrap: wrap;
}

.libro__descrip{
  font-size: var(--text-sz);
}

.libro__link{
  color: var(--yellow);
  font-weight: 700;
}

.libro__btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.libro__btn{
  height: var(--btn-height);
  padding: var(--btn-pd);
  border-radius: var(--radius);
  border: 0;
  background-color: var(--yellow);
  color: var(--yellow4);
}

.libro__fecha{
  position: absolute;
  left: 30px;
  top: 10px;
}

.libro__cerrar{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  color: crimson;
}

/*    COMENTARIO FORM    */
.coment{
  color: var(--green);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__coment--bg{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  background: none;
}


/*    COMENTARIOS    */
.comentarios{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.comentarios__card{
  display: flex;
  flex-direction: column;
  padding: var(--card-pd);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.card__name{
  font-weight: 700;
}
.card__info{
  display: flex;
  align-items: start;
  gap: 30px;
}
.card__fecha{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
.card__num{
  font-weight: 700;
}

@media screen and (max-width:1300px){
  :root{
    --box-width: 90vw;
    --title2-sz: 25px;
    --box-pd: 0 15px;
  }

  .container{
    margin-top: 40px;
    gap: 40px;
  }

  .libro__img{
    display: none;
  }
}

@media screen and (max-width:700px){
  :root{
    --title2-sz: 22px;
  }

  .libro__fecha{
    display: none;
  }

  .coment__form{
    padding: 30px;
  }
}